[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=SimpleText
Exec=/usr/bin/invoker --type=e -n -s python /usr/local/bin/khtsimpletext_launch.py
Icon=khtsimpletext

