[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=SimpleText
Exec=/usr/bin/invoker --type=e --single-instance /opt/khtsimpletext/__init__.py
Icon=khtsimpletext

